<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Collaborative Workspace</title>
</head>

<body>
    <div class="container">
        <div class="user-container">
            <a href="/login" class="login-btn" id="log-btn">Login</a>
            <a href="/register" class="login-btn" id="reg-btn">Register</a>
        </div>
        <div class="admin-container">
            <a href="/setup" class="org-setup login-btn">Set up an organisation</a>
        </div>
    </div>

</body>

</html>