<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Organisation Register</title>
</head>

<body>
    <div class="container">
        <div class="login-label">
            <h1>Organisation Register</h1>
        </div>
        <form action="/admin/register" method="POST">
            <div id="email" class="form-element">
                <input required="true" type="email" placeholder="Enter Email" name="email" class="field">
            </div>
            <div id="password" class="form-element">
                <input required="true" type="password" placeholder="Enter Password" name="password" class="field">
            </div>
            <div id="org-name" class="form-element">
                <input required="true" type="string" placeholder="Enter Organisation Name" name="orgName" class="field">
            </div>
            <div class="form-element">
                <input class="submit-btn" type="submit" value="Register">
            </div>
        </form>
        <a href="/admin/login" id="l">Login</a>
    </div>
</body>

</html>